.hero {
    background: url(https://socialgorithm.org/img/bg-pattern.png),#E80505;
    background: url(https://socialgorithm.org/img/bg-pattern.png),-webkit-linear-gradient( 135deg, #FDD819 0%, #E80505 100%);
    background: url(https://socialgorithm.org/img/bg-pattern.png),linear-gradient( 135deg, #FDD819 0%, #E80505 100%);
    color: #fff;
    text-align: center;
    padding: 4em 0;
    margin-top: -0.5em;
    font-size: 2em;
}

.section {
    text-align: center;
    padding: 5em 0;
}

.bg-primary {
    background: #ee6f30;
    background: -webkit-linear-gradient(#ee6f30,#d66000);
    background: linear-gradient(#ee6f30,#d66000);
    color: #fff;
}

.bg-secondary {
    background: #efefef;
}

.section .icon {
    margin-bottom: 0.5em;
    font-size: 2em;
}

.section.big-links a {
    color: inherit;
    display: block;
}

.section a:hover {
    color: #d66000;
}