main, .round {
    display:flex;
}

.round {
    flex-direction:column;
    width: 200px;
    list-style:none;
    padding:0;
    margin-right: 50px;
}

.round:before,
.round:after {
    content: " ";
    display: inline-block;
    flex-grow:.5;
}