footer {
    position: absolute;
    bottom: 0;
    height: 2.5em;
    padding-top: 0.5em;
    width: 100%;
    background-color: #3c4b64;
    color: #ffffff4d;
    text-align: center;
}

footer a {
    color: #ef6c00;
}