body {
  margin: 0;
  padding: 0;
  font-family: Muli,Helvetica,Arial,sans-serif;
}

h1, h2, h3, h4, h5, h6, .ui.header {
    font-family: Catamaran,Helvetica,Arial,sans-serif;
    font-weight: 200;
    letter-spacing: 1px;
}

.ui.header:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
    font-size: 1.5em;
}

pre.code {
    background: #efefef;
    font-size: 0.9em;
    padding: 0.5em 1em;
    margin: 0;
}