.match {
    min-width: 250px;

    .ui.progress,
    .ui.progress:last-child {
        margin: 0.5em;
    }

    &.small {
        max-width: 300px;
        
        h2 {
            font-size: 1em;
            margin-bottom: 0.5em;
        }
        h3 {
            font-size: 0.9em;
            margin-top: 0.5em;
        }

        .ui.progress,
        .ui.progress:last-child {
            margin: 0;
            border-radius: 0;
        }
    }
}